body {
    background: rgb(107, 151, 233);
    font: normal 15pt Arial;
}

header{
color:snow;
text-align:center;
}

section{
background: snow;
border-radius:10px;
padding: 15px;
width: 500px;
margin:auto;
box-shadow:5px 5px 10px rgba(10, 12, 11, 0.24)
}

footer{
color:snow;
text-align: center;
font-style: italic;
}
