
body {
    padding: 8px;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    text-align: center;
  }

  button {
    background-color: black;
    color: silver;
  }

  .botao-dark {
    background-color: white;
    color:slategray;
  }

  
section{
    background: rgb(252, 180, 47);
    border-radius:10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow:5px 5px 10px rgba(10, 12, 11, 0.24)
    }
  
.section-dark{
    background: rgb(99, 24, 24);
    border-radius:10px;
    color:gold;
    text-shadow:2px 2px 5px rgb(0, 0, 0);
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow:5px 5px 10px rgba(255, 255, 255, 0.295)
    }




/*################################## ABAIXO FICA O CSS DO BOTÂO SWITCH ####################################*/
    div#switch {
      padding-top: 20px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(157, 218, 241);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #050505;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #080808;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    